@import "_variables";

/* CSS VARIABLES */

:root {
  --font-families: "Poppins", "Century Gothic", "Arial Black", sans-serif;
  --font-weight: 700;
  --font-size--error-code: 8rem;
  --font-size--headline--section: 2.75rem;
  --font-size--headline--standard: 2rem;
  --font-size--headline--mobile: 1.75rem;
  --font-size--standard: 1.25rem;
  --font-size--annotation: 1rem;
  --line-height--compact: 1.3;
  --color--brand: #0040ff;
  --color--contrast: #fff;
  --color--red: #f00;
  --color--orange: #ffbf00;
  --color--green: #00e539;
  --opacity--annotation: 0.75;
  --time--short: 200ms;
  --time--medium: 400ms;
  --time--long: 1000ms;
  --easing--standard: cubic-bezier(0.4, 0.0, 0.2, 1);
  --easing--decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
  --easing--accelerate: cubic-bezier(0.4, 0.0, 1, 1);
}

/* SILENT CLASSES */

%edge-bar {
  position: absolute;
  width: 100%;
  height: 4rem;
  background: var(--color--background);
  text-align: center;
}

%responsive-content {
  max-width: 160rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-width: $width--tablet) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media (min-width: $width--laptop) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media (min-width: $width--desktop) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

/* GENERAL */

*, ::before, ::after {
  box-sizing: border-box;
}

:focus {
  outline: solid var(--color--accent) 0.25rem;
  .js-focus-visible &:not(.focus-visible) {
    outline: none;
  }
}

input:focus {
  & + label {
    outline: solid var(--color--accent) 0.25rem;
  }
  .js-focus-visible &:not(.focus-visible) + label {
    outline: none;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: var(--color--background);
  color: var(--color--foreground);
  text-align: center;
  text-rendering: optimizeLegibility;
  font: var(--font-weight) var(--font-size--standard) var(--font-families);
}

a {
  color: inherit;
}

h1 {
  margin: 0;
  font-size: var(--font-size--headline--mobile);
  @media (min-width: $width--tablet) {
    font-size: var(--font-size--headline--standard);
  }
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  transition: transform 200ms var(--easing--standard), width 200ms var(--easing--standard);
  height: 3rem;
  padding: 0 1.5rem;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  background: var(--color--foreground);
  color: var(--color--background);
  text-transform: uppercase;
  font: var(--font-size--standard) var(--font-families);
  cursor: pointer;
  &.forward {
    &::after {
      content: "→";
      transition:
      opacity 200ms var(--easing--standard),
      width 200ms var(--easing--standard),
      margin 200ms var(--easing--standard);
      display: inline-block;
      width: 0;
      margin-left: 0;
      opacity: 0;
      font-weight: var(--font-weight);
      font-family: "Inter", sans-serif;
    }
    &:hover::after {
      width: 1rem;
      margin-left: 0.5rem;
      opacity: 1;
    }
  }
}

/* HEADER */

header {
  @extend %edge-bar;
  z-index: 999;
  top: 0;
  @media (min-height: $height--large-phone) {
    position: fixed;
  }
  a {
    text-decoration: none;
  }
  > div {
    @extend %responsive-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 160rem;
    height: 100%;
    margin: 0 auto;
  }
  .location {
    display: flex;
    font-size: var(--font-size--headline--mobile);
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .symbol {
    fill: var(--color--foreground);
  }
  .logotype {
    margin-left: 0.5rem;
  }
  .school-name {
    max-height: calc(var(--line-height--compact) * 2em);
    text-align: right;
    line-height: var(--line-height--compact);
    overflow: hidden;
    margin-left: 1rem;
    @media (min-width: $width--tablet) {
      margin-left: 2rem;
    }
    @media (min-width: $width--laptop) {
      margin-left: 4rem;
    }
    @media (min-width: $width--desktop) {
      margin-left: 8rem;
    }
  }
}

/* MAIN */

main {
  @extend %responsive-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  & > * {
    margin-bottom: 1rem;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  @media (min-width: $width--tablet) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  @media (min-width: $width--desktop) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

/* FOOTER */

footer {
  @extend %edge-bar;
  bottom: 0;
  font-size: var(--font-size--annotation);
  color: rgba(#fff, var(--opacity--annotation));
  line-height: 4rem;
}

/* ERROR PAGE */

.error-code {
  line-height: 1;
  font-size: var(--font-size--error-code);
}
