/* SASS VARIABLES */

$min-width--desktop: "min-width: 100rem";
$min-width--laptop: "min-width: 80rem";
$min-width--tablet: "min-width: 40rem";
$min-height--tablet: "min-height: 40rem";

/* CSS VARIABLES */

:root {
  --font-families: "Poppins", "Century Gothic", "Arial Black", sans-serif;
  --font-weight: 700;
  --font-size--error-code: 8rem;
  --font-size--headline: 1.75rem;
  --font-size--standard: 1.25rem;
  --font-size--annotation: 1rem;
  --color--brand: #0040ff;
  --color--light: #fff;
  --opacity--annotation: 0.75;
  --time--short: 200ms;
  --time--medium: 400ms;
  --bezier-curve--standard: cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* GENERAL */

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: var(--color--background);
  color: var(--color--text);
  text-align: center;
  text-rendering: optimizeLegibility;
  font: var(--font-weight) var(--font-size--standard) var(--font-families);
}

a {
  color: inherit;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: var(--font-size--headline);
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  transition: transform 200ms var(--bezier-curve--standard), width 200ms var(--bezier-curve--standard);
  height: 3rem;
  padding: 0 1.5rem;
  outline: none;
  border: none;
  border-radius: 1.5rem;
  background: var(--color--text);
  color: var(--color--background);
  text-transform: uppercase;
  font: var(--font-size--standard) var(--font-families);
  cursor: pointer;
  &:active {
    transform: scale(0.9375);
  }
}

.button--forward {
  &::after {
    content: "→";
    transition:
      opacity 200ms var(--bezier-curve--standard),
      width 200ms var(--bezier-curve--standard),
      margin 200ms var(--bezier-curve--standard);
    display: inline-block;
    width: 0;
    margin-left: 0;
    opacity: 0;
    font-weight: var(--font-weight);
    font-family: "Inter", sans-serif;
  }
  &:hover::after {
    width: 1rem;
    margin-left: 0.5rem;
    opacity: 1;
  }
}

.responsive-content {
  max-width: 120rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @media ($min-width--tablet) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media ($min-width--laptop) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media ($min-width--desktop) {
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

.fixed-bar {
  position: fixed;
  width: 100%;
  height: 4rem;
  text-align: center;
}

/* HEADER */

header {
  top: 0;
  background: var(--color--background);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  @media ($min-width--tablet) {
    justify-content: space-between;
  }
}

.header__location {
  display: flex;
  font-size: var(--font-size--headline);
}

.header__link {
  text-decoration: none;
}

.header__logo {
  display: flex;
}

.header__symbol {
  fill: var(--color--text);
}

.header__logotype {
  margin-left: 0.5rem;
}

.header__school-name {
  display: none;
  @media ($min-width--tablet) {
    display: block;
  }
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

/* FOOTER */

footer {
  bottom: 0;
  font-size: var(--font-size--annotation);
  opacity: var(--opacity--annotation);
  line-height: 4rem;
}

/* ERROR PAGE */

.error-code {
  line-height: 1;
  font-size: var(--font-size--error-code);
}
