/* SPINNER */

.spinner {
  animation: spin var(--time--long) var(--easing--standard) infinite;
  width: 3rem;
  height: 3rem;
  border: solid transparent 0.5rem;
  border-left-color: var(--color--foreground);
  border-right-color: var(--color--foreground);
  border-radius: 1.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
}

/* TRANSITIONS */

.fade {
  &-enter-active, &-leave-active {
    transition: opacity var(--time--short) var(--easing--standard);
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}
