{% extends "base_poll.html" %}

{% load i18n %}

{% block main %}
<h1>
  {% trans "Evaluating teaching staff?" %}<br>
  {% trans "Survey your students the easy way with Antimark." %}
</h1>
<ul class="h-stack non-phone">
  <li>{% trans "straightforward setup" %}</li>
  <li>{% trans "automatic statistics" %}</li>
  <li>{% trans "completely free" %}</li>
</ul>
</div>
<div class="r-stack compact">
  <a href="{% url "school" "demo" %}">
    <button class="outlined" tabindex="-1">{% trans "Try the demo" %}</button>
  </a>
  <a href=""><button class="forward" tabindex="-1">{% trans "Create a school account" %}</button></a>
</div>
{% endblock %}
