{% extends "base_panel.html" %}

{% load i18n static sass_tags %}

{% block title-location %}{% trans "Panel" %} – {% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% sass_src "styles/components.scss" %}">
{% endblock %}

{% block head-scripts %}
  {% include 'includes/app_scripts.html' %}
{% endblock %}

{% block body-scripts %}
  <script src="{% static "scripts/panel.js" %}"></script>
{% endblock %}

{% block main %}
  <noscript><h1>{% trans "The panel requires JavaScript to work." %}</h1></noscript>
{% endblock %}
