{% extends "base_poll.html" %}

{% load i18n static sass_tags %}

{% block title-location %}{{ school.school_name }} – {% endblock %}

{% block meta-tags %}
  <meta name="robots" content="noindex">
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% sass_src "styles/components.scss" %}">
{% endblock %}

{% block head-scripts %}
  {% include 'includes/app_scripts.html' %}
{% endblock %}

{% block body-scripts %}
  <script src="{% static "scripts/poll.js" %}"></script>
{% endblock %}

{% block main %}
  <noscript><h1>{% trans "The poll requires JavaScript to work." %}</h1></noscript>
{% endblock %}
